<h2>List <%= @list.name %></h2>

<div class="container">
  <div class="card-show-title">
    <h1>Movies 🎬</h1>
  </div>
    <div class="row cards-movie">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-6-sm">
          <div class="card-movie">
          <div class="card-poster w-25 h-25 p-3">
              <%= image_tag bookmark.movie.poster_url, alt: "movie poster" %>
list_index          </div>
          <div class="card-description">
            <div class="card-title">
              <h5><%= bookmark.movie.title %></h5>
              <p> <%= bookmark.movie.rating %> ⭐️</p>
            </div>
            <div class="card-overview">
              <p> <%= bookmark.movie.overview %> </p>
            </div>
            <hr>
              <p><strong>Review</strong></p>
            <div class="card-review">
              <p><%= bookmark.comment %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
     <div class= "btn btn-primary"> <%= link_to 'Add a movie to the List', new_list_bookmark_path(@list) %></div>
     <div class= "btn btn-danger"><%= link_to 'Home', root_path(@list) %> </div>

     <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
  </div>

    <div class="row">
      <div class="col-12">
        <hr>

    </div>
  </div>
</div>
